{% extends 'base.html' %}

{% block content %}
    <img src="{{ url_for('static', filename='angel2.png') }}" alt="Angel" class="angel-image">
    <h1>Add New Book</h1>
    <form method="post">
        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" required><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br>

        <label for="publication_year">Publication Year:</label><br>
        <input type="number" id="publication_year" name="publication_year" required><br><br>

        <input type="submit" value="Add Book">
    </form>
    <a href="{{ url_for('index') }}">Cancel</a>
     <img src="{{ url_for('static', filename='bird2.png') }}" alt="Bird" class="angel-image">
{% endblock %}